[submodule "EXT/glfw"]
	path = EXT/glfw
	url = git@github.com:glfw/glfw.git
[submodule "EXT/glad"]
	path = EXT/glad
	url = git@github.com:Dav1dde/glad.git
[submodule "EXT/freeglut"]
	path = EXT/freeglut
	url = git@github.com:dcnieho/FreeGLUT.git
[submodule "EXT/glload"]
	path = EXT/glload
	url = git@github.com:SRombauts/glload.git
[submodule "EXT/devil"]
	path = EXT/devil
	url = git@github.com:DentonW/DevIL.git
[submodule "EXT/soil"]
	path = EXT/soil
	url = git@github.com:kbranigan/Simple-OpenGL-Image-Library.git
